<title>Loops and Cats</title>

<link rel="shortcut icon" type="image/png" href="/images/loop-logo.png"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/recordButton.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/waveforms.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/styling.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/metronomeButton.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/spinningHeads.css" />
