<div class="wrapper">

  <section class="main-controls">
    <!-- <canvas class="visualizer"></canvas> -->
    <div id="buttons">
      <button class="record">Record</button>
      <button class="stop">Stop</button>
    </div>
  </section>

  <section class="sound-clips">
  </section>

</div>
