<div class="wrapper">

  <section class="main-controls">
    <!-- <canvas class="visualizer"></canvas> -->

    <div id="buttons">

      <button id='recording-button' class="notRec"></button>

      <img class="image1" src="images/jacks-head.png" alt="" width="120" height="180">
      <img class="image2" src="images/vivhead.png" alt="" width="120" height="180">
      <img class="image3" src="images/tobyhead.png" alt="" width="120" height="180">
      <img class="image4" src="images/nickhead.png" alt="" width="120" height="180">
      <img class="image5" src="images/willshead.png" alt="" width="120" height="180">
    </div>
  </section>

<center>

  <section class="sound-clips">

<table>

  <TR>
    <TD>

      <div id="waveform1" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-1'>Delete</button>
    </article>
    </TD>

  <!-- </br> -->
<TD>
  <div id="waveform2" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-2'>Delete</button>
    </article>
</TD>
    </TR>

    <!-- </br> -->
    <TR>
      <TD>

      <div id="waveform3" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-3'>Delete</button>
    </article>
</TD>
<TD>    <!-- </br> -->
    <div id="waveform4" class='wavecontainer'>
    </div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-4'>Delete</button>
    </article>
</TD>
</TR>
    <!-- </br> -->
<TR>
  <TD>
    <div id="waveform5" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-5'>Delete</button>
    </article>
  </TD>

  <!-- </br> -->
  <TD>
    <div id="waveform6" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-6'>Delete</button>
    </article>
  </TD>
</TR>

    <!-- </br> -->
<TR>
  <TD>
    <div id="waveform7" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-7'>Delete</button>
    </article>
  </TD>

  <!-- </br> -->
  <TD>
    <div id="waveform8" class='wavecontainer'></div>
    <article class='clip'>
      <button class='deleteButton' id='deleteButton-8'>Delete</button>
    </article>
  </TD>
</TR>

</table>

  </section>

</center>

</div>
