<div class="wrapper">

  <section class="main-controls">
    <!-- <canvas class="visualizer"></canvas> -->
    <div id="buttons">
      <button id='recButton' class="notRec"></button>
    </div>
  </section>

<center>

  <section class="sound-clips">

    <div id="waveform1"></div>
    <article class='clip'>
      <button class='1'>Delete</button>
    </article>

  <!-- </br> -->

  <div id="waveform2"></div>
    <article class='clip'>
      <button class='2'>Delete</button>
    </article>

    <!-- </br> -->

      <div id="waveform3"></div>
    <article class='clip'>
      <button class='3'>Delete</button>
    </article>

    <!-- </br> -->

    <div id="waveform4">
    </div>
    <article class='clip'>
      <button class='4'>Delete</button>
    </article>

    <!-- </br> -->

    <div id="waveform5"></div>
    <article class='clip'>
      <button class='5'>Delete</button>
    </article>

    <!-- </br> -->

    <div id="waveform6"></div>
    <article class='clip'>
      <button class='6'>Delete</button>
    </article>

    <!-- </br> -->

      <div id="waveform7"></div>
    <article class='clip'>
      <button class='7'>Delete</button>
    </article>

    <!-- </br> -->

    <div id="waveform8"></div>
    <article class='clip'>
      <button class='8'>Delete</button>
    </article>

  </section>

</center>

</div>
