<div id="waveform1" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-1'>Delete</button>
<button class='muteButton' id='muteButton-1'>Mute</button>
<button class='soloButton' id='soloButton-1'>Solo</button>

<div id="waveform2" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-2'>Delete</button>
<button class='muteButton' id='muteButton-2'>Mute</button>
<button class='soloButton' id='soloButton-2'>Solo</button>

<div id="waveform3" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-3'>Delete</button>
<button class='muteButton' id='muteButton-3'>Mute</button>
<button class='soloButton' id='soloButton-3'>Solo</button>

<div id="waveform4" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-4'>Delete</button>
<button class='muteButton' id='muteButton-4'>Mute</button>
<button class='soloButton' id='soloButton-4'>Solo</button>

<div id="waveform5" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-5'>Delete</button>
<button class='muteButton' id='muteButton-5'>Mute</button>
<button class='soloButton' id='soloButton-5'>Solo</button>

<div id="waveform6" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-6'>Delete</button>
<button class='muteButton' id='muteButton-6'>Mute</button>
<button class='soloButton' id='soloButton-6'>Solo</button>

<div id="waveform7" class='wavecontainer'></div>
<button class='deleteButton' id='deleteButton-7'>Delete</button>
<button class='muteButton' id='muteButton-7'>Mute</button>
<button class='soloButton' id='soloButton-7'>Solo</button>

<div id="waveform8" class='wavecontainer'></div>

<button class='deleteButton' id='deleteButton-8'>Delete</button>
<button class='muteButton' id='muteButton-8'>Mute</button>
<button class='soloButton' id='soloButton-8'>Solo</button>
