<div class="wrapper">

  <section class="main-controls">
    <!-- <canvas class="visualizer"></canvas> -->
    <div id="buttons">
      <button class="record">Record</button>
      <button class="stop">Stop</button>
    </div>
  </section>

  <section class="sound-clips">

    <article class='clip'>
      <audio id='1' controls src=''></audio>
      <button class='1'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='2' controls src=''></audio>
      <button class='2'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='3' controls src=''></audio>
      <button class='3'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='4' controls src=''></audio>
      <button class='4'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='5' controls src=''></audio>
      <button class='5'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='6' controls src=''></audio>
      <button class='6'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='7' controls src=''></audio>
      <button class='7'>Delete</button>
    </article>

    <article class='clip'>
      <audio id='8' controls src=''></audio>
      <button class='8'>Delete</button>
    </article>

  </section>

</div>
