<div class="wrapper">

  <section class="main-controls">
    <div id="buttons">
      <button id='recording-button' class="notRec"></button>
      <button id='mute-all'>Mute All</button>
      <button id='play-all'>Play All</button>
      <button id='increase-recording-length'>Increase</button>
      <button id='decrease-recording-length'>Decrease</button>
      <h1 id='recording-length-display'>Record Length: 1</h1>
    </div>
  </section>

  <center>
    <section class="sound-clips">
      <table>
        <TR>
          <TD>
            <div id="waveform1" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-1'>Delete</button>
              <button class='muteButton' id='muteButton-1'>Mute</button>
              <button class='soloButton' id='soloButton-1'>Solo</button>
            </article>
          </TD>

          <TD>
            <div id="waveform2" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-2'>Delete</button>
              <button class='muteButton' id='muteButton-2'>Mute</button>
              <button class='soloButton' id='soloButton-2'>Solo</button>
            </article>
          </TD>
        </TR>

        <TR>
          <TD>
            <div id="waveform3" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-3'>Delete</button>
              <button class='muteButton' id='muteButton-3'>Mute</button>
              <button class='soloButton' id='soloButton-3'>Solo</button>
            </article>
          </TD>

          <TD>
            <div id="waveform4" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-4'>Delete</button>
              <button class='muteButton' id='muteButton-4'>Mute</button>
              <button class='soloButton' id='soloButton-4'>Solo</button>
            </article>
          </TD>
        </TR>

        <TR>
          <TD>
            <div id="waveform5" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-5'>Delete</button>
              <button class='muteButton' id='muteButton-5'>Mute</button>
              <button class='soloButton' id='soloButton-5'>Solo</button>
            </article>
          </TD>

          <TD>
            <div id="waveform6" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-6'>Delete</button>
              <button class='muteButton' id='muteButton-6'>Mute</button>
              <button class='soloButton' id='soloButton-6'>Solo</button>
            </article>
          </TD>
        </TR>

        <TR>
          <TD>
            <div id="waveform7" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-7'>Delete</button>
              <button class='muteButton' id='muteButton-7'>Mute</button>
              <button class='soloButton' id='soloButton-7'>Solo</button>
            </article>
          </TD>

          <TD>
            <div id="waveform8" class='wavecontainer'></div>
            <article class='clip'>
              <button class='deleteButton' id='deleteButton-8'>Delete</button>
              <button class='muteButton' id='muteButton-8'>Mute</button>
              <button class='soloButton' id='soloButton-8'>Solo</button>
            </article>
          </TD>

        </TR>
      </table>
    </section>
  </center>
</div>
