<section class="main-controls">
  <div id="buttons">
    <button id='recording-button' class="notRec"></button>
    <button id='mute-all'>Mute All</button>
    <button id='play-all'>Play All</button>
    <button id='increase-recording-length'>Increase</button>
    <button id='decrease-recording-length'>Decrease</button>
    <h1 id='recording-length-display'>Record Length: 1</h1>
  </div>
</section>
