<section class="main-controls">
  <div id="buttons">

    <div class='barLength'>
      <button id='recording-button' class="notRec"></button>
      <a href="javascript:void(0);" id='decrease-recording-length'>
        <span class='glyphicon glyphicon-minus'></span>
      </a>

      <b id='recording-length-display'>Number of Bars: 1</b>

      <a href="javascript:void(0);" id='increase-recording-length'>
        <span class='glyphicon glyphicon-plus'></span>
      </a>
      <a href="javascript:void(0);" id='mute-all'>Mute All</a>
      <a href="javascript:void(0);" id='play-all'>Play All</a>
    </div>

  </div>
</section>

<div id='global-control-buttons'>

</div>
<div id='recording-button-div'>

</div>
<div id='recording-length-display'>

</div>
