<div id='logo-container'>
  <img class="head" id ="image1" src="images/jacks-head.png">
  <img class="head" id="image4" src="images/nickhead.png">
  <img class="logo" id="logo" src="images/logo.png">
  <img class="head" id="image2" src="images/Vivhead.png" >
  <img class="head" id="image5" src="images/willshead.png" >
</div>
