<nav class="navbar" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" >
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <h1>Loop</h1>
    </div>
  </div>
</nav>
