<div id= 'tracks-container'>
  <% for(var i=1; i<9; i++) {%>
    <div class='track'>
       <div id="waveform<%=i %>" class='wavecontainer waveform'></div>
       <div class='track-controls'>

         <a href="javascript:void(0);" class='track-button muteButton' id='muteButton-<%=i %>'>
           <span class='glyphicon glyphicon-volume-up'></span>
         </a>


         <a href="javascript:void(0);" class='track-button soloButton' id='soloButton-<%=i %>'>Solo</a>


         <a href="javascript:void(0);" class='track-button deleteButton' id='deleteButton-<%=i %>'>
           <span class='glyphicon glyphicon-trash'></span>
         </a>

      </div>
    </div>
  <% } %>
</div>
