<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loops and cats</title>
    <% include partials/asset-load.ejs %>
  </head>
  <body>
    <% include partials/spinning_heads.ejs %>
    <% include partials/navbar.ejs %>
    <% include partials/metronomePlay.ejs %>
    <% include partials/audio-recorder.ejs %>
    <% include partials/scripts.ejs %>


    <button type="button" id='stop-beater-button'>Stop Master Beater</button>
  </body>
</html>
