<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loops and cats</title>
  </head>
  <body>
    <h1>Loops and Cats</h1>

    <audio id='1' controls src='myRecording01.wav' type="audio/wav"></audio>
    <audio id='2' controls src='myRecording02.wav' type='audio/wav'></audio>
  </body>
</html>
