<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loops and cats</title>
    <% include partials/asset-load.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <% include partials/audio-recorder.ejs %>
    <audio class='audio-file' controls loop src='audio/myRecording01.wav' type="audio/wav"></audio>
    <% include partials/scripts.ejs %>
  </body>
</html>
