#control-button-container{
  width: 80%;
  height: 10%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items:center;
}

.control-button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

}
