.notRec{
	background-color: darkred;
  width: 35px;
	height: 35px;
	font-size: 0;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.Rec{
	animation-name: pulse;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}
