body {
    background-image: url("/images/geometric-background.jpg");
    background-size: cover;

}

* {
  color: blue;
}

.wavecontainer {
  height: 127px;
  width: 620px;
  border-color: purple;
  border-style: solid;
}
