body {
    background-image: url("/images/geometric-background.jpg");
    background-size: cover;

}

* {
  color: blue;
}

.wavecontainer {
  height: 127px;
  width: 620px;
  border-color: purple;
  border-style: solid;
}

.notRec{
	background-color: darkred;
  width: 35px;
	height: 35px;
	font-size: 0;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.Rec{
	animation-name: pulse;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

.headson {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.headsoff {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
}

#image1 {
    left: 80%;
}

#image2 {
    left: 90%;
}

#image3 {
    left: 70%;
}

#image4 {
    left: 60%;
}

#image5 {
    left: 50%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
