.track{
  width: 80%;
  height: 10%;
  display: flex;
  background-color: #272727 ;
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #171717;

}
.waveform{
  height: 100%;
  width: 90%;
  color: #dff302;
  border-radius: 1px;
}
.wavecontainer {

}

#tracks-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.track-button{
  height: 33%;
  text-align: center;
  font-size: 2vh;
  color: #e3e3e3;
}

.track-button>span:hover, .track-button:hover{
  color: #dff302;
  text-decoration:none;
}

.track-controls{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10%;
  height:100%;
  background-color:#303030;
  border-left: #202020 solid 1px;
}
